 * {
   box-sizing: border-box;
 }

 html {
  scroll-behavior: smooth;
 }

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    
}
img {
  max-width: 100%;     /*это свойство будет говорить картинкам не выходить за пределы контейнера в которых они размещены , если контейнер уменьшается то картинки уменьшаются тоже */
}

.container {
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   

}

/*header*/
.header {
    width: 100%;
    height: 100vh;
    /* background-color: #556983; */
    display: flex;
    flex-direction: column;/*выстраиваем элементы в колонку основная ось- y*/
    justify-content: center;/*выравнивание по основной оси*/
    align-items: center;/*выравнивание по поперечной оси*/
    /* background-image: url(./../img/header-bg.jpg); */
    background-size: cover;
    background-position: center;
    position: relative;

}
 .header-title {
    margin: 0;
   font-weight: bold; 
   font-size: 56px;
   line-height: 130%;
   text-align: center;
   color: white;
   margin-bottom: 20px;

 }

 .header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:#ffffff ;
 }
 .header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    
 }

 /*portfolio*/

 .portfolio {
    
    padding-top: 80px;
    padding-bottom: 115px;
 }
 h2{
   margin: 0;
   margin-bottom: 70px;
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: black;
 }

 .portfolio__cards_wrapper{
   display: flex;
    flex-wrap: wrap; /*перенос карточек на след строку */
    justify-content: space-between;
 }

 .card {
    max-width: 540px;
    background-color:white;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in-out;
 }
 .card:hover {
  transform:translateY(-15px);
 }
 .card-link {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
 }

 .card-link:hover {
  color:rgb(39,91,236)
 } 
 .card:last-child,.card:nth-last-child(2) {
margin-bottom: 0;
 }

 .card-img {
    margin-bottom: 20px;
 }
  .card-title {
   margin: 0;
   margin-bottom: 13px;
   font-weight: bold;
   font-size: 24px;
   line-height: 130%;
   
 } 
 .card p {
   font-size: 16px;
   line-height: 130%;
   margin: 0;
 }
 /*footer*/

 .footer {
   background-color:#1E4776;
   padding-top: 45px;
   padding-bottom: 130px;
   color: #ffffff;
   margin-bottom: 0;
  
  
 }
 .footer__row {
   display: flex;
   flex-direction: row;
   justify-content:space-between;
 }
 .footer__copyright {
   max-width: 350px;
   flex-grow: 1;
   color:#7E9EC9;
   line-height: 1.3;
 }

 .footer__copyright_name {
   font-weight: 700;
   font-size: 28px;
   /* line-height: 1.3; */
   margin-bottom: 15px;
 }

 .footer__copyright p {
   margin: 0;
   margin-bottom: 15px;
   font-weight: 600;
   font-size: 16px;
   /* line-height: 1.3; */
 }
 .footer__icons {
   max-width: 350px;
   flex-grow: 1;
 }

 .footer__icons p {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.3;
 }
 .footer__icons_row > * + * {  /* обращаемся к первому уровню вложенности т е a*/

margin-left: 30px;
 }

 .footer__contacts {
   max-width: 350px;
   flex-grow: 1;
 }
 .footer__button {
   display: inline-block;
   border: 3px solid white;
   border-radius: 50px;
   height: 50px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 11px;
   color: #ffffff;
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   text-decoration: none;
 }
 .footer__button:hover {
  background-color: #ffffff;
  color:#1E4776;
  transition: all 0.2s ease-in;
 }

   .footer__contacts p {
      margin: 15px 0;
      color:#7E9EC9;
   line-height: 1.3;
   font-size: 15px;
   }
   
/*burgers*/

.project {

padding-top: 80px;
padding-bottom: 120px;
text-align: center;

}

 .project__header {
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 46px;
  line-height: 1.3;
  color: black;
 }
 

 .project__img {
 margin-bottom: 70px;


 }
 
 .project__description {
  margin-left: auto;
  margin-right: auto;
  
  max-width: 730px;
  margin-bottom: 60px;
 }

 .project__description p {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  color: rgb(20, 18, 18);
 }

 .project__btn_back {
  display: inline-block;
   border: 3px solid rgb(84, 88, 187);
   border-radius: 50px;
   height: 60px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 11px;
   color:rgb(61, 65, 192);
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 35px;
   transition: all 0.2s ease-in;
 
 }
 .project__btn_back:hover {
  background-color: rgb(61, 65, 192);
  color:#ffffff;

 }

